:root {
    --mint-whisper: #a8e6b5;
    --leaf-breeze: #77d997;
    --emerald-pulse: #36c551;
    --forest-beat: #2ba34a;
    --moss-shadow: #1f7a34;
    --form-input-border: #f5f5f5;
    --footer-text-color: #555555;
}

[data-theme='dark'] {
    --bg-color: linear-gradient(159deg,rgb(21, 21, 21) 0%, rgb(21, 21, 21) 100%);
    --text-color: #f5f5f5;
    --paragraph-color: #757575;
}

[data-theme='amoled'] {
  --bg-color: linear-gradient(159deg,rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  --text-color: #f5f5f5;
  --form-input-border: #f5f5f5;
  --paragraph-color: #818181;
}

[data-theme='light'] {
  --bg-color: #f5f5f5;
  --text-color: #121212;
  --form-input-border: #121212;
}

[data-theme='amelia'] {
  --bg-color: linear-gradient(159deg,rgb(32, 22, 32) 0%, rgb(19, 44, 49) 100%);
  --text-color: #f5f5f5;
  --form-input-border: #f5f5f5;
  --footer-text-color: #ededed;
  --paragraph-color: #818181;
}